.container{
  width: 400px !important;
}

.btn{
  background-color: rgb(255, 163, 25);
}

.hr{
  border: 1px solid black;
}

.addStudent{
  background-color: #72e772;
}

.newStitle{
  color: #72e772;
  font-size: 40px;
}

.newSbg{
  background-color: #616161;
}